body {
  margin: 0;
}

h1, h2, p {
  text-align: center;
}

#select_options_button_div, #wild_card_button_div, #start_over_div {
  text-align: center;
}

#next_button_div, #start_over_div {
  width: 30vw;
  margin: 0 35vw;
}

#next_question_button {
  display: none;
  margin: auto;
}

#start_over_button {
  margin: auto;
}

#home {
  display: block;
}

.item {
  list-style-type: none;
  margin: 1rem;
  border: 1px solid lightgrey;
  padding: .5rem;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

#options_form {
  display: none;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

#container {
  display: none;
  width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
}

#progress_bar {
  text-align: center;
  margin-top: 3rem;
}

.progress_dot {
  height: .5rem;
  width: .5rem;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  margin: .5rem;
}

#feedback {
  display: none;
}

#progress_bar {
  display: none;
}

#game_over {
  display: none;
}


/* Add animation to transitions */
  .animate_bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
 
